body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 11pt Arial,Helvetica,sans-serif;
	background: #FEFEFE;
}

#page
{
	margin-top:0px;
	margin-bottom: 15px;
	background: transparent;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 0px 15px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#headInfo {
	margin-top: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: transparent;
	line-height: 0.6em;
	/*border-bottom: solid 1px rgba(66,66,66,.6);*/
	color: #6E623C;
}

#prova {
	background-color: transparent;
}

#prova .panel {
	margin-top: 30px;
	border-radius: 0px;
	border: 1px solid rgba(200,200,45,.7);

	box-shadow: 
		0px 8px 4px rgba(200,200,200,.5),
}

#prova .panel .panel-header {
	position: relative;
	left: 30px;
	top: -8px;
	padding: 8px 16px;
	border-radius: 16px;
	background-color: rgb(200,200,45);
	display: inline;
	color: white;
	font-weight: bold;
}

#prova button {
	border: none;
}
#prova button:active {
	border: solid 1px;
}
#prova #avancar {
	color: #629979;
	transition: all ease-out .3s;
}
#prova #avancar:hover {
	background-color: #629979;
	color: white;

	transition: all ease .3s;
}

#prova #avancar:active {
	border:solid 1px #629979;	
}

#navQuestao h4 {
	margin-top: 8px;
	color: rgb(200,200,45);
}

#resposta img.alternativa {
		margin-top: 15px;
		max-height: 100px;
		border: solid 4px lightgray;
		display: block;
		margin-bottom: 15px;

		transition: transform linear .3s;
}

#resposta img.alternativa:hover {
	cursor: pointer;
	transform: scale(1.05);

	border-color: #629979;
	transition: transform linear .3s;
}

#resposta div[id^="questao"] {
	display: none;
}

#resposta div[id^="questao"].questaoAtual {
	display: block;
}


#resposta input[type=radio] {
	display: none;
}

#resposta img.alternativa {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 8px;
}

#resposta img.alternativa::before {
	content: " ";
	display: inline-block;

	padding: 18px;

	margin-right: 10px;
	position: absolute;

	left: 0;
	bottom: 50%;
	background-color: #aaa;

	border-radius: 8px;
}

#resposta input[type=radio]:checked + img.alternativa {
	border-color:#629979;
    
}

#resposta textarea {
	background-color: transparent;
	border: dotted 2px #EEE;
	padding: 12px;
	font-size: 13pt;
	box-shadow: inset 0px 0px 3px rgba(33,33,33,.3);
}

#respostasModal {
	position: absolute;
	top: 0px;
	background-color: #FEFEFE;
	z-index: 8;
}
#respostasModal #respostas {
	border: none;
}
#respostasModal h4 {
	color: #629979;
}

#respostas .resposta {
	font-weight: 700;
	color: #629979;
}
#respostasModal #respostas li {
	border: none;
	background-color: transparent;
}
#page.blurred section:not(#respostasModal) {
	filter: blur(1px);
}

#prova .modalHidden {
	display: none;
}

#prova .modalShown {
	display: block;
}